<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545361502851-jvh9bhn72fkdva8k7u4t1ggurich7qfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545361502851-jvh9bhn72fkdva8k7u4t1ggurich7qfg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545361502851-a2si6h7qug9aa5h8ltqtt248hv86ifn7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYIW6fSzpOinu62jLKhIfeRZGdo-CWR5k</string>
	<key>GCM_SENDER_ID</key>
	<string>545361502851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-74f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-74f2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545361502851:ios:dc9ff357e0d0f9eb5a71b6</string>
</dict>
</plist>